body {
  background-color: #282c34;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3em;
  margin: 1rem 0;
  padding: 0.25rem;
  width: 7em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
